<table>
  <tr>
      <th>Question</th>
      <th>Description</th>
  </tr>
  <tr>
      <td>Q9</td>
      <td>How often do you use social media without purpose?</td>
  </tr>
  <tr>
      <td>Q10</td>
      <td>How often are you distracted by social media while busy?</td>
  </tr>
  <tr>
      <td>Q11</td>
      <td>Do you feel restless when you don't use social media?</td>
  </tr>
  <tr>
      <td>Q12</td>
      <td>Are you easily distracted?</td>
  </tr>
  <tr>
      <td>Q13</td>
      <td>Are you bothered by your worries?</td>
  </tr>
  <tr>
      <td>Q14</td>
      <td>Is it difficult for you to concentrate?</td>
  </tr>
  <tr>
      <td>Q15</td>
      <td>How often do you compare yourself to successful people on social media?</td>
  </tr>
  <tr>
      <td>Q16</td>
      <td>How do you feel about the comparisons from Q15?</td>
  </tr>
  <tr>
      <td>Q17</td>
      <td>How often do you seek validation from social media?</td>
  </tr>
  <tr>
      <td>Q18</td>
      <td>How often do you feel depressed or down?</td>
  </tr>
  <tr>
      <td>Q19</td>
      <td>How frequently does your interest in daily activities fluctuate?</td>
  </tr>
  <tr>
      <td>Q20</td>
      <td>How often do you have issues regarding sleep?</td>
  </tr>
</table>