<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="geo.placename" content="Brigham Young University">
    <meta name="geo.region" content="'US-UT">
    <link rel="stylesheet" href="/styles.css">
    <!--favicon not working-->
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <title>SMU & MH - Data</title>
      <!-- ... other head elements ... -->
    <link  type="text/css" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link  type="text/css" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
  </head>
<body>
  <nav>
    <%- include('navbar') %>

  <main>
    <!-- AG-Grid for the first table -->
    <div id="questionsGrid" class="ag-theme-alpine" style="height: 560px; width: 75%;"></div>

    <!-- AG-Grid for the second table -->
    <div id="userDataGrid" class="ag-theme-alpine" style="height: 500px; width: 100%;"></div>
  </main>
  
  
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
          <img src="images/smumhnav.png" alt="Footer Logo">
      </div>
      <div class="footer-nav">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/learn">Learn</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/survey">Survey</a></li>
            <% if (user_id) { %>
              <li><a class="link" href="/account">Account</a></li>
              <li><a class="link" href="/data">Data</a></li>
            <% } else { %>
              <li><a class="link" href="/login">Login</a></li>
            <% } %>
          </ul>
      </div>
    </div>
    <div class="footer-info">
        <p><a href="https://www.instagram.com/smu_mh/">@smu_mh</a></p>
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <p>Designed by BYUIS3.9</p>
    </div>
    </footer>
    </body>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>

    <script>
      // Specify the columns for the questions table
      var questionsColumnDefs = [
        { headerName: "Question",
          field: "question"
        },
        { headerName: "Description", 
          field: "description"
        }
      ];
    
      // Data for the questions table
      var questionsRowData = [
        { question: 'Q9', description: 'How often do you use social media without purpose?' },
        { question: 'Q10', description: 'How often are you distracted by social media while busy?' },
        { question: 'Q11', description: 'Do you feel restless when you don’t use social media?' },
        { question: 'Q12', description: 'Are you easily distracted?' },
        { question: 'Q13', description: 'Are you bothered by your worries?' },
        { question: 'Q14', description: 'Is it difficult for you to concentrate?' },
        { question: 'Q15', description: 'How often do you compare yourself to successful people on social media?' },
        { question: 'Q16', description: 'How do you feel about the comparisons from Q15?' },
        { question: 'Q17', description: 'How often do you seek validation from social media?' },
        { question: 'Q18', description: 'How often do you feel depressed or down?' },
        { question: 'Q19', description: 'How frequently does your interest in daily activities fluctuate?' },
        { question: 'Q20', description: 'How often do you have issues regarding sleep?' }
      ];
  
    
      // Initialize AG-Grid for the questions table
      // Create the grid
      var grid = agGrid.createGrid(document.getElementById('questionsGrid'), {
          columnDefs: questionsColumnDefs,
          rowData: questionsRowData,
          onGridReady: function(params) {
              params.api.sizeColumnsToFit(); // size columns to fit the grid width
              var allColumnIds = [];
              params.columnApi.getAllColumns().forEach(function(column) {
                  allColumnIds.push(column.colId);
              });
              params.columnApi.autoSizeColumns(allColumnIds); // auto-size columns based on content
          }
      });

    
      // Specify the columns for the user data table
      var userDataColumnDefs = [
          { headerName: "User_ID", 
            field: "user_id",
            filter: true 
          },
          { headerName: "Timestamp", 
            field: "timestamp",
            filter: true 
          },
          { headerName: "Age", 
            field: "age",
            filter: true 
          },
          { headerName: "Gender", 
            field: "gender",
            filter: true 
          },
          { headerName: "Relationship Status", 
            field: "relationship_status",
            filter: true 
          },
          { headerName: "Occupation Status", 
            field: "occupation_status",
            filter: true 
          },
          { headerName: "Social Media User", 
            field: "social_media_user",
            filter: true 
          },
          { headerName: "Region", 
            field: "region",
            filter: true 
          },
          { headerName: "Daily Time Spent", 
            field: "daily_social_media_time",
            filter: true 
          },
          { headerName: "Q9", 
            field: "use_without_purpose",
            filter: true 
          },
          { headerName: "Q10", 
            field: "use_while_busy",
            filter: true 
          },
          { headerName: "Q11", 
            field: "restlessness_from_withdrawal",
            filter: true 
          },
          { headerName: "Q12", 
            field: "easily_distracted",
            filter: true 
          },
          { headerName: "Q13", 
            field: "bothered_by_worries",
            filter: true 
          },
          { headerName: "Q14", 
            field: "difficult_to_concentrate",
            filter: true 
          },
          { headerName: "Q15", 
            field: "compare_with_successful_people",
            filter: true 
          },
          { headerName: "Q16", 
            field: "feelings_toward_comparisons",
            filter: true 
          },
          { headerName: "Q17", 
            field: "seek_validation",
            filter: true 
          },
          { headerName: "Q18", 
            field: "feelings_of_depression",
            filter: true 
          },
          { headerName: "Q19", 
            field: "fluctuation_of_interest_in_activities",
            filter: true 
          },
          { headerName: "Q20", 
            field: "sleep_issue_frequency",
            filter: true 
          }
      ];
  
      var defaultGridOptions = {
        rowHeight: 35,
        headerHeight: 40,
        rowSelection: 'single',
        enableSorting: true,
        enableFilter: true,
        suppressMenuHide: true,
        autoSizeColumns: true

      };
      // pull in user data from the database
      var userDataRowData = <%- JSON.stringify(data) %>;
  
  
      var gridOptions = {
        columnDefs: userDataColumnDefs,
        rowData: userDataRowData,
        defaultColDef: defaultGridOptions,
        pagination: true,
        paginationPageSize: 20,
        domLayout: 'autoHeight',
        suppressNoRowsOverlay: true,
        suppressCellSelection: true,
        suppressContextMenu: true,
        animateRows: true,
        onGridReady: function(params) {
          var allColumnIds = [];
          params.columnApi.getAllColumns().forEach(function(column) {
              allColumnIds.push(column.colId);
          });
          params.columnApi.autoSizeColumns(allColumnIds);
        }
        };
      // Data for the user data table (should come from your server)
      
  
      let userGridDiv = document.getElementById('userDataGrid');
      new agGrid.createGrid(userGridDiv, gridOptions);
    
      // Initialize AG-Grid for the user data table
      // new agGrid.createGrid(document.getElementById('userDataGrid'), {
      //   columnDefs: userDataColumnDefs,
      //   rowData: userDataRowData,
  
      // });
      // agGrid.createGrid(document.getElementById('userDataGrid'), {
      //   columnDefs: [{headerName:"TEST", field:"id"}],
      //   rowData: [{id:"one"}]
      // });
  
  
    </script>
    
</body>
</html>