<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="geo.placename" content="Brigham Young University">
  <meta name="geo.region" content="'US-UT">
  <link rel="stylesheet" href="/styles.css">
  <!--favicon not working-->
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
  <title>SMU & MH - Home</title>
</head>
<body>
<%- include('components/navbar') %>
  

  <header class="nav-menu">
    <label for="nav-toggle" class="nav-toggle-label"></label>
  </header>

  <input type="checkbox" id="nav-toggle" class="nav-toggle">

  <div class="main-top">
    <h1>Social Media Usage & Mental Health Committee</h1>
    <div class="video-container">
      <video autoplay loop muted controls="false" style="video::-webkit-media-controls { display: none; }">
        <source src="https://testbucket-eb-intex.s3.us-east-1.amazonaws.com/provo.mp4" type="video/mp4">
      </video>
      <div class="overlay"></div>
      <img src="images/webbanner.png" alt="Banner Image" class="overlay-image">
    </div>
  </div>

  <div class="parallaxlanding about-us">
    <a class="button" href="/about">Who We Are</a>
  </div>

  <div class="intro">
    <p>
      Welcome to Provo City's Mental Health Page, where we explore the comlex relationship between our community's social media usage and our mental well-being. Spearheaded by the Social Media Usage and Mental Health Committee, this page can be a pivotal resource in understanding how our digital interactions impact mental health. 
    </p>
    <p>
      Community members are invited to contribute their insights through our comprehensive survey, we need your help to figure out how these two common aspects of our lives interweave with each other. By taking our survey you can help us find connections and help others struggling with mental health challenges.
    </p>
    <p>
      We respect your privacy above all else, we won't ask for your name or other unique identifiers. City officials will be the only ones to have secure access to our data, providing a confidential gateway to view, analyze, and draw conlcusions from the collected data.
    </p>
    <p>
      Together, we will be on our way creating a healthier, more informed community by unraveling the complexities of social media's influence on mental wellness.
    </p>
  </div>
  

  <div class="login-main">
    <p>Uncover insightful statistics linking mental health and social media, taking a step toward understanding and improving well-being.</p>
    <a href="/learn">Learn More</a>
  </div>
  
  <div class="instagram-div-home">
    <div class="content">
      <!-- Your content before the Instagram blockquote -->
      <h2>Follow us on Instagram!</h2>
      
    </div>
      <!-- Instagram blockquote -->
      <div class="instagram-posts-home">
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/smu_mh/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px); margin: 0 auto;">
        <!-- Instagram content -->
      </blockquote>
      <script async src="//www.instagram.com/embed.js"></script>
    </div>
  </div>
<%- include('components/footer') %>
</body>
</html>