<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="geo.placename" content="Brigham Young University">
  <meta name="geo.region" content="'US-UT">
  <link rel="stylesheet" href="/styles.css">
  <!--favicon not working-->
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
  <title>SMU & MH</title>
</head>
<body>
  <nav>
    <dvi>
      <ul>
        <!--image is not working....-->
        <li><a href="https://www.provo.org/government"><img class='provo'src='images/provologo.png'></a></li>
        <div class="separator"></div>
        <li><a>About</a></li>
        <li><a>Learn</a></li>
        <li><a>Resources</a></li>
        <li><a href="/survey">Survey</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </dvi>
  </nav>
  
  <div>
    <h1>Social Media Usage & Mental Health Committee</h1>
  </div>
  <div>
    <a href="/login">Sign In</a>
  </div>
  
</body>
</html>