<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="geo.placename" content="Brigham Young University">
  <meta name="geo.region" content="'US-UT">
  <link rel="stylesheet" href="/styles.css">
  <!--favicon not working-->
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
  <title>SMU & MH</title>
</head>
<body>
  <nav>
    <dvi class="menu">
      <ul>
        <li><a class="provo" href="https://www.provo.org/government"><img src='images/provologo.png'></a></li>
        <div class="separator"></div>
        <li><a class="navlogo" href=""><img src='images/navlogo.png'></a></li>
        <li><a class="link">About</a></li>
        <li><a class="link">Learn</a></li>
        <li><a class="link">Resources</a></li>
        <li><a class="link" href="/survey">Survey</a></li>
        <li><a class="link" href="/login">Login</a></li>
      </ul>
    </dvi>
  </nav>

  <header class="nav-menu">
    <label for="nav-toggle" class="nav-toggle-label"></label>
  </header>

  <input type="checkbox" id="nav-toggle" class="nav-toggle">

  <div class="main-top">
    <h1>Social Media Usage & Mental Health Committee</h1>
    <img class="main-top-display" src="images/smumhheader.svg" data-pin-nopin="true">
  </div>

  <div class="about-us">
    <div class="hero">
      <div class="foreground">
        <img class="main" src="images/herodisplay.png" nopin="nopin">
        <a class="button" href="/about">Who are we</a>
      </div>
    </div>
  </div>

  <div class="intro">
    <p>
      Welcome to Provo City's Mental Health Web Page, dedicated to exploring the intricate relationship between social media usage and mental well-being. Spearheaded by the Social Media Usage and Mental Health Committee, this platform serves as a pivotal resource in understanding how our digital interactions impact mental health. 
    </p>
    <p>
      Community members are invited to contribute their insights through a comprehensive survey, fostering a collaborative effort to comprehend these connections.
    </p>
    <p>
      Furthermore, city officials have secure access, providing a confidential gateway to view and analyze the collected data.
    </p>
    <p>
      Together, we endeavor to cultivate a healthier, more informed community by unraveling the complexities of social media's influence on mental wellness.
    </p>
  </div>
  
  
  <div>
    <a href="/login">Login</a>
  </div>


  <footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="images/smumhnav.png" alt="Footer Logo">
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/survey">Survey</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-info">
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <p>Designed by BYUIS3.9</p>
    </div>
</footer>

</body>
</html>