<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="geo.placename" content="Brigham Young University">
  <meta name="geo.region" content="'US-UT">
  <link rel="stylesheet" href="/styles.css">
  <!--favicon not working-->
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
  <title>SMU & MH - Home</title>
</head>
<body>
  <nav>
    <div class="menu">
      <ul>
        <li><a class="provo" href="https://www.provo.org/government"><img src='images/provologo.png'></a></li>
        <div class="separator"></div>
        <li><a class="navlogo" href="#"><img src='images/navlogo.png'></a></li>
        <li><a class="link" href="/about">About</a></li>
        <li><a class="link" href="/learn">Learn</a></li>
        <li><a class="link" href="/resources">Resources</a></li>
        <li><a class="link" href="/survey">Survey</a></li>
        
        <% if (user_id) { %>
          <% if (user_id = 2) { %>
            <li><a class="link" href="/admin">Admin</a></li>
          <% } %>
          <li><a class="link" href="/account">Account</a></li>
          <li class="signout-button"><a href="/logout">Sign Out</a></li>
        <% } else { %>
          <li><a class="link" href="/login">Login</a></li>
        <% } %>
        

        
      </ul>
    </div>
  </nav>
  

  <header class="nav-menu">
    <label for="nav-toggle" class="nav-toggle-label"></label>
  </header>

  <input type="checkbox" id="nav-toggle" class="nav-toggle">

  <div class="main-top">
    <h1>Social Media Usage & Mental Health Committee</h1>
    <div class="video-container">
      <video autoplay loop muted controls="false">
        <source src="images/provo.mp4" type="video/mp4">
      </video>
      <img scr="images/bannerweb.png" alt="Banner Image" class="overlay-image">
    </div>
  </div>

  <div class="parallaxlanding about-us">
    <a class="button" href="/about">Who We Are</a>
  </div>

  <div class="intro">
    <p>
      Welcome to Provo City's Mental Health Web Page, dedicated to exploring the intricate relationship between social media usage and mental well-being. Spearheaded by the Social Media Usage and Mental Health Committee, this platform serves as a pivotal resource in understanding how our digital interactions impact mental health. 
    </p>
    <p>
      Community members are invited to contribute their insights through a comprehensive survey, fostering a collaborative effort to comprehend these connections.
    </p>
    <p>
      Furthermore, city officials have secure access, providing a confidential gateway to view and analyze the collected data.
    </p>
    <p>
      Together, we endeavor to cultivate a healthier, more informed community by unraveling the complexities of social media's influence on mental wellness.
    </p>
  </div>
  

  <div class="login-main">
    <p>Uncover insightful statistics linking mental health and social media, taking a step toward understanding and improving well-being.</p>
    <a href="/learn">Learn More</a>
  </div>
  
  <div class="instagram-div">
    <div class="instagram-posts">
      <!-- Your content before the Instagram blockquote -->
      <h2>Follow our Instagram Page as a Reminder to Prioritize your Happiness and Health!</h2>
      <p>We recognize that it may seem counterintuitive to follow an Instagram account to help break free of social media...</p>
      
      <!-- Instagram blockquote -->
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/smu_mh/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px); margin: 0 auto;">
        <!-- Instagram content -->
      </blockquote>
      <script async src="//www.instagram.com/embed.js"></script>
    </div>
  </div>
  


  <footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="images/smumhnav.png" alt="Footer Logo">
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/learn">Learn</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/survey">Survey</a></li>
              <% if (user_id) { %>
                <li><a class="link" href="/account">Account</a></li>
                <li><a class="link" href="/data">Data</a></li>
              <% } else { %>
                <li><a class="link" href="/login">Login</a></li>
              <% } %>
            </ul>
        </div>
    </div>
    <div class="footer-info">
        <p><a href="https://www.instagram.com/smu_mh/">@smu_mh</a></p>
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <p>Designed by BYUIS3.9</p>
    </div>
</footer>

</body>
<script>
  console.log(<%= user_id %>)
</script>
</html>