<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="geo.placename" content="Brigham Young University">
        <meta name="geo.region" content="'US-UT">
        <link rel="stylesheet" href="/styles.css">
        <!--favicon not working-->
        <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
        <title>SMU & MH - Learn</title>
      </head>
      <style>
         main {
          padding: 0;
          margin: 0;
          width: 100%;
        }
        .parallaxlearn {
          /* The image used */
          background-image: url("images/guystanding.jpg");
        
          /* Full height */
          height: 50vh;
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      .parallaxlearn h2 {
          font-size: 15vh;
          color: rgb(255, 255, 255); 
          text-shadow: 0px 0px 30px rgb(0, 0, 0);
          text-align: center;
          margin: 0;
          align-items: center;
        }

        p {
          padding: 0 30px;
          line-height: 25px;
          font-size: large;
        }

        p.intro {
          padding: 60px auto;
          font-size: x-large;
          line-height: 35px;
          text-align: center;
        }

        .container {
          height: 500px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 12px 20vh;
        }

        p.socialdilema {
          padding: 0 60px 0 0;
          width: 400px;

        }

        .tableau {
          padding: 150px 0;
        }

        h3 {
        font-size: 40px;
        border: 1px solid black;
        width: fit-content;
        padding: 12px;
        margin: 50px auto 0;
      }

      </style>
<body>
  <%- include('components/navbar') %>
   
    <div class="parallaxlearn">
      <h2>Learn</h2>
    </div>

    <p class="intro">
      Gain a deeper understanding of the intersection between mental health and social media through real-time analytics and comprehensive statistics. Uncover trends, correlations, and patterns that illuminate the impact of our digital lives on mental wellness.</p>

      <div class="container">
        <p class="socialdilema">Watch the thought-provoking video from 'The Social Dilemma,' a captivating exploration of the influence of social media on our mental well-being. Gain valuable perspectives from industry insiders, shedding light on the dynamics shaping our online experiences and mental health.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ui0UNXsEGJ8?si=klc881DiWxxh4GjM&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    
      <div class="blue"></div>

      <h3>Mental Health Dashboard</h3>
    <div class="tableau">
      <div class='tableauPlaceholder' id='viz1701896203626' style='position: center'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WH&#47;WHP3JGG5Z&#47;1_rss.png' style='border: 2px, solid, black' /></a></noscript><object class='tableauViz'  style='display:flex;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;WHP3JGG5Z' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WH&#47;WHP3JGG5Z&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1701896203626');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1577px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div> 

    <%- include('components/footer') %>
</body>
</html>