<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="geo.placename" content="Brigham Young University">
    <meta name="geo.region" content="'US-UT">
    <link rel="stylesheet" href="/styles.css">
    <!--favicon not working-->
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <title>SMU & MH - Login</title>
  </head>
<style>
  /* Add some basic styling */
  input, button {
    margin-bottom: 10px;
    display: block;
  }
  .error {
    color: red;
    font-size: 0.8em;
  }
  .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }
    .success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    /* Basic styling for the login form */
  main {
    padding: 7% 10%;
    margin: auto auto;
  }

  .main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25; /* Adjust the opacity as desired */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.login-form {
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #F6EADC;
  width: 45%;
}

h2 {
  text-align: center;
  color: #333;
  padding-bottom: 15px;
  font-size: 50px;
}

.form-group {
  padding-bottom: 15px;
  padding-left: 20px;
  margin-bottom: 5px;
  height: 50px;
  justify-content: left;
}

.submitbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"],
button {
  padding: 1vh;
  border-radius: 3px;
  border: 1px solid #ccc;

}

button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.error {
  padding: 10px;
  border-radius: 3px;
  background-color: #e74c3c;
  color: white;
  margin-bottom: 15px;
}

.alert {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #f39c12;
  color: white;
}

label {
  font-size: 20px;
}

.right-div {
  box-shadow: none;
}



</style>
<body>
  <%- include('components/navbar') %>

  <main>
    
    <div class="background-img">
      <img class="login-background" src="images/kids.jpg" alt="Login Background">
    </div>

    <div class="content">
      <div class="left-div">
      <section class="login-form">
        <h2>Login</h2>
        <!-- Display the error message if it exists -->
        <% if (typeof statusMessage !== 'undefined' && statusMessage) { %>
          <div class="error alert">
            <%= statusMessage %>
          </div>
        <% } %>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="submitbutton">
            <button type="submit">Sign In</button>
          </div>
        </form>
        <!-- <a href="/forgot-password">Forgot Password?</a> -->
      </section>
    </div>
    <div>
      <img class="right-div" src="images/SquareLogo.png" alt="SMU&MH Logo">
    </div>
  </div>

  </main>
  <%- include('components/footer') %>
</body>
</html>
