<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="geo.placename" content="Brigham Young University">
        <meta name="geo.region" content="'US-UT">
        <link rel="stylesheet" href="/styles.css">
        <!--favicon not working-->
        <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
        <title>SMU & MH - Resources</title>
      </head>

      
      <style>
        main {
          padding: 0;
          margin: 0;
          width: 100%;
        }
        .parallaxresources {
          /* The image used */
          background-image: url("images/resourcesheader.jpg");
        
          /* Full height */
          height: 50vh;
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      .parallaxresources h2 {
          font-size: 15vh;
          color: rgb(255, 255, 255); 
          text-shadow: 0px 0px 30px rgb(0, 0, 0);
          text-align: center;
          margin: 0;
          align-items: center;
        }

        p {
          padding: 0 20%;
          line-height: 25px;
        }

        p.intro {
          padding: 60px auto;
          text-align: center;
        }

      .resourceslist {
        width: 100%;
        justify-content: space-around;
        background-color: #BFD9C2;
        font-size: 15px;
        font-weight: 300;
      }

      .resourceslist li:first-child {
        padding-left: 20%;
      }

      .resourceslist li:last-child {
        padding-right: 20%;
      }

      .resourceslist li a {
        text-transform: none;
        letter-spacing: normal;
      }

      .resourceslist li a:hover {
        color: #4D4D4D;
        transform: translate(1px, 1px);
      }

      .therapist {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
      }

      .therapist img {
        max-width: 40%;
        margin-left: 20px;
        border-radius: 24px;
      }

      .therapist-section {
        flex-grow: 1;
        max-width: 40%;
      }

      .therapist h4,
      .therapist p {
        text-align: left;
        padding: 0 0 0 25px;
      }

      .therapist h4 {
        font-size:30px;
      }

      .therapist-details strong {
        display: block;
      }

      h3 {
        font-size: 40px;
        border: 1px solid black;
        width: fit-content;
        padding: 12px;
        margin: 50px auto;
      }

      .cards-container {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
      }

      .cards {
        display: flex;
        flex-direction: column;
        margin: 0 1rem var(--gap);
        gap: 2rem;
        width: 400px;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .card {
        border-radius: 24px;
        background-color: var(--cream);
        text-decoration: none;
        box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
          0 4px 8px 3px rgba(60, 64, 67, 0.149);
      }

      .card img {
        width: 100%;
        height: 200px;
      }

      .card p {
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      .text {
        color: black;
      }

      .text:hover {
        color: #4D4D4D;
        transform: translate(1px, 1px);
      }


      .card img {
        border-radius: 24px 24px 0 0;
      }

      

      </style>
<body>
  <h1>Resources - Social Media and Mental Health</h1>
  <%- include('components/navbar') %>
    <main>

      <div class="parallaxresources">
        <h2>Resources</h2>
      </div>

      <p class="intro">
        Navigating mental health can be tough on its own, and the increase of social media makes it so much tougher for someone already facing challenges. This page is dedicated to people who are looking for help but don’t know where to start. Here we have information to help combat society’s ever-increasing addiction to social media, and for those who need someone to talk to, we have resources for finding local therapists here in Provo.</p>

      <ul class="resourceslist">
        <li><a href="#safeut">Safe UT</a></li>
        <li><a href="#activities">Provo Activities</a></li>
        <li><a href="#localtherapists">Local Therapists</a></li>
        <li><a href="#clinics">Clinics</a></li>
        <li><a href="#onlinetherapists">Online Therapy</a></li>
      </ul>

      <h3 id="safeut">Safe UT</h3>

      <div class="therapist">
        <img src="images/safeut.jpeg">
          <div class="therapist-section">
            <h4>Safe UT</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(833)372-3388
                  <strong>Website:</strong> <a href="www.safeut.org">Safe UT</a>
                  <strong>Description:</strong> The SafeUT app provides a way to connect to licensed counselors that are ready to listen to any sized crisis or concern. Support is immediate and confidential, and as easy as reaching for your phone and sending that first message.
                </p>
              </div>
          </div>
      </div>


      <div class="blue"></div>

     
      <h3 id="activities">Get Out and Find What Makes Provo Amazing</h3>
      <p>
        A sure way to combat the tight grip Social Media has on us is to find exciting alternatives to scrolling. There are so many great things that make Provo amazing, and we encourage everyone to go out and experience it on their own. Let's ditch the scrolling and dive into the real deal. Join the fun, explore the treasures, and be part of what makes this community shine! 
      </p>

      <div class="cards-container">
        <div class="cards">
          <a href="https://www.provo.org/community/outdoor-activities" class="card">
            <img src="images/provorec.jpeg" alt="Provo City">
            <p class="text">Provo Outdoor Activities</p>
          </a>
        </div>
        <div class="cards">
          <a href="https://www.utahvalley.com/blog/post/170-things-to-do-in-provo/" class="card">
            <img src="images/foodprovo.jpeg" alt="Utah Valley Magazine">
            <p class="text">Utah Valley Activities</p>
          </a>
        </div>
        <div class="cards">
          <a href="https://www.provo.org/departments/parks/parks-details" class="card">
            <img src="images/provopark.jpeg" alt="Provo City Parks">
            <p class="text">City Parks</p>
          </a>
        </div>
      </div>

      <div class="blue"></div>

      <h3 id="localtherapists">Local Therapists</h3>

      <div class="therapist">
        <img src="images/therapist_jayde.jpeg">
        <div class="therapist-section">
          <h4>Jayde Scroggs</h4>
          <div class="therapist-details">
            <p>
              <strong>Phone:</strong> +1-(385)448-5003
              <strong>Work:</strong>Utah Valley Counseling by Sela Health
              <strong>About Me:</strong> I absolutely love what I do as a therapist. I am collaborative, working with your 
              strengths and helping you access your own skills and resources to overcome your challenges. I believe in empowering 
              you to take action and I love to create a safe environment to explore difficult emotions, beliefs, and behaviors. 
              I believe in you. I am a person-centered therapist. I feel strongly about the inherent capacity of humans to 
              heal and grow.
            </p>
          </div>
        </div>
      </div>

      <div class="therapist">
        <img src="images/therapist_bryan.jpeg">
          <div class="therapist-section">
            <h4>Bryan Henrie</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(801)316-8961
                  <strong>Work:</strong> Utah Valley Counseling by Sela Health
                  <strong>Description:</strong> Each person’s story has successes and struggles, and I believe every individual has 
                  what it takes to find healing and growth. As an Internal Family Systems (IFS) informed therapist, my efforts focus 
                  on accessing that healing and growth by exploring underlying beliefs, wounds, and fears that get in the way of you 
                  feeling connected with yourself and the important people in your life.
                </p>
              </div>
          </div>

      </div>

      <div class="therapist">
        <img src="images/therapist_brianna.jpeg">
          <div class="therapist-section">
            <h4>Brianna McBride</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(801)590-4768
                  <strong>Work:</strong> 1675 North Freedom Boulevard
                  <strong>Description:</strong> I believe that everyone’s experiences are valid and that their concerns need to 
                  be heard. I am a support for people on all parts of their journey. It is never too early or too late to receive 
                  therapy. I believe that clients have the skills they need to create the changes they are looking for in life. 
                  I enjoy being their support and guide in finding those skills within themselves and using them to shape their life.
                </p>
            </div>
        </div>
      </div>

      <div class="therapist">
        <img src="images/therapist_darryl.jpeg">
          <div class="therapist-section">
            <h4>Darryl R Haslam</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(385)402-7181
                  <strong>Work:</strong> 286 South 600 East
                  <strong>Description:</strong> Are you overwhelmed by the tension and fights in your family? Do you “lose it” during 
                  family conflict and say or do things you regret? Do you worry about your kids being overly angry, anxious, or 
                  depressed but don’t know how to help them, like they’re sliding down a negative slope and will never come out? 
                  Do you feel hopeless like nothing will ever change in your or your family’s emotional health and have tried 
                  everything but nothing works? If yes to ANY of these, we can help! We're a child, family, and adult counseling 
                  clinic specializing in challenging family issues and mental/emotional issues in young children, teens, and adults
                </p>
              </div>
          </div>
      </div>

      <div class="therapist">
        <img src="images/therapist_jodi.jpeg">
          <div class="therapist-section">
            <h4>Lisa Bishop</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(385)278-0134
                  <strong>Work:</strong> Online Appointments Only
                  <strong>Description:</strong> We all travel a unique path through this life. Sometimes we experience obstacles 
                  and pain along the way. Our relationships are so important to us, but we may not always know the best way to 
                  deal with our spouse, our children, our own parents, etc. Sometimes we don't know who to talk to about our 
                  struggles. We may face depression, grief, or continue to deal with trauma from our past that still crops up in 
                  our current relationships. We long for healing and peace of mind
                </p>
              </div>
          </div>
      </div>

      <div class="blue"></div>



      <div class="clinics">
        <h3 id="clinics">Local Therapy And Counseling Clinics</h3>

        <div class="therapist">
          <img src="images/couch.jpeg">
            <div class="therapist-details therapist-section">
              <p>
                <strong>Website:</strong> <a href="https://www.safespaceprovo.com" target="_blank">Safe Space Provo</a><br>
                <strong>Description:</strong> 
                The Safe Space Counseling is a therapy center committed to providing a judgment-free environment where individuals 
                can address mental health concerns. They offer personalized therapy sessions in a soothing office setting and through 
                teletherapy, emphasizing accessibility and a safe space for clients to heal and grow without societal pressures.
              </p>
            </div>
        </div>

        <div class="therapist">
          <img src="images/clinic_scs.jpeg">
          <div class="therapist-details therapist-section">
            <p>
              <strong>Website:</strong> <a href="https://summitcounselingsolutions.com" target="_blank">Summit Counseling Solutions</a><br>
              <strong>Description:</strong> 
              Summit Counseling Solutions is a specialized treatment center dedicated to providing evidence-based solutions for 
              adolescents and families grappling with an array of mental health challenges, including suicidal ideation, 
              anxiety, depression, trauma, ADHD, behavioral disorders, and more. 
            </p>
          </div>
        </div>

        <div class="therapist">
          <img src="images/clinic_provo.jpeg">
          <div class="therapist-details therapist-section">
            <p>
              <strong>Website:</strong> <a href="https://www.wasatch.org/provo-family-clinic" target="_blank">Provo Family Clinic</a><br>
              <strong>Description:</strong> 
              Wasatch Behavioral Health's Provo Family Clinic focuses on providing mental health services primarily for children 
              and families, also accommodating adults on occasion. Their tailored therapeutic services cater to trauma and mental 
              illness, addressing conditions like depression, anxiety, ADHD, PTSD, and behavioral issues, utilizing evidence-based 
              techniques. 
            </p>
          </div>
        </div>
      </div>

      <div class="blue"></div>


      <h3 id="onlinetherapists">Online Therapy Services</h3>
      <div class="therapist">
        <img src="images/help.jpeg">
          <div class="therapist-details therapist-section">
            <p>
              <strong>Website:</strong> <a href="https://www.betterhelp.com" target="_blank">BetterHelp</a><br>
              <strong>Description:</strong> BetterHelp offers convenient and accessible online therapy services for various mental 
              health concerns, including those related to social media usage.
            </p>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>