<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="geo.placename" content="Brigham Young University">
        <meta name="geo.region" content="'US-UT">
        <link rel="stylesheet" href="/styles.css">
        <!--favicon not working-->
        <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
        <title>SMU & MH - Resources</title>
      </head>
<body>
  <%- include('navbar') %>
    <main>
      <h2>Resources - Social Media and Mental Health</h2>

      <div class="idk-bro-name-this-what-you-want">
        <p>We understand</p>
      </div>
      
      <h3>Local Therapists</h3>

      <div class="therapist">
        <img src="images/therapist_jayde.jpeg">
        <div class="therapist-section">
          <h4>Jayde Scroggs</h4>
          <div class="therapist-details">
            <p>
              <strong>Phone:</strong> +1-(385)448-5003
              <strong>Work:</strong>Utah Valley Counseling by Sela Health
              <strong>About Me:</strong> I absolutely love what I do as a therapist. I am collaborative, working with your 
              strengths and helping you access your own skills and resources to overcome your challenges. I believe in empowering 
              you to take action and I love to create a safe environment to explore difficult emotions, beliefs, and behaviors. 
              I believe in you. I am a person-centered therapist. I feel strongly about the inherent capacity of humans to 
              heal and grow.
            </p>
          </div>
        </div>
      </div>

      <div class="therapist">
        <img src="images/therapist_bryan.jpeg">
          <div class="therapist-section">
            <h4>Bryan Henrie</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(801)316-8961
                  <strong>Work:</strong> Utah Valley Counseling by Sela Health
                  <strong>Description:</strong> Each person’s story has successes and struggles, and I believe every individual has 
                  what it takes to find healing and growth. As an Internal Family Systems (IFS) informed therapist, my efforts focus 
                  on accessing that healing and growth by exploring underlying beliefs, wounds, and fears that get in the way of you 
                  feeling connected with yourself and the important people in your life.
                </p>
              </div>
          </div>

      </div>

      <div class="therapist">
        <img src="images/therapist_brianna.jpeg">
          <div class="therapist-section">
            <h4>Brianna McBride</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(801)590-4768
                  <strong>Work:</strong> 1675 North Freedom Boulevard
                  <strong>Description:</strong> I believe that everyone’s experiences are valid and that their concerns need to 
                  be heard. I am a support for people on all parts of their journey. It is never too early or too late to receive 
                  therapy. I believe that clients have the skills they need to create the changes they are looking for in life. 
                  I enjoy being their support and guide in finding those skills within themselves and using them to shape their life.
                </p>
            </div>
        </div>
      </div>

      <div class="therapist">
        <img src="images/therapist_darryl.jpeg">
          <div class="therapist-section">
            <h4>Darryl R Haslam</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(385)402-7181
                  <strong>Work:</strong> 286 South 600 East
                  <strong>Description:</strong> Are you overwhelmed by the tension and fights in your family? Do you “lose it” during 
                  family conflict and say or do things you regret? Do you worry about your kids being overly angry, anxious, or 
                  depressed but don’t know how to help them, like they’re sliding down a negative slope and will never come out? 
                  Do you feel hopeless like nothing will ever change in your or your family’s emotional health and have tried 
                  everything but nothing works? If yes to ANY of these, we can help! We're a child, family, and adult counseling 
                  clinic specializing in challenging family issues and mental/emotional issues in young children, teens, and adults
                </p>
              </div>
          </div>
      </div>

      <div class="therapist">
        <img src="images/therapist_jodi.jpeg">
          <div class="therapist-section">
            <h4>Lisa Bishop</h4>
              <div class="therapist-details">
                <p>
                  <strong>Phone:</strong> +1-(385)278-0134
                  <strong>Work:</strong> Online Appointments Only
                  <strong>Description:</strong> We all travel a unique path through this life. Sometimes we experience obstacles 
                  and pain along the way. Our relationships are so important to us, but we may not always know the best way to 
                  deal with our spouse, our children, our own parents, etc. Sometimes we don't know who to talk to about our 
                  struggles. We may face depression, grief, or continue to deal with trauma from our past that still crops up in 
                  our current relationships. We long for healing and peace of mind
                </p>
              </div>
          </div>
      </div>

      <div class="clinics">
        <h2>Local Therapy And Counseling Clinics</h2>
        <div class="localclinic">
          <img src="images/couch.jpeg">
            <div class="localclinic-words">
              <p>
                <strong>Website:</strong> <a href="https://www.safespaceprovo.com" target="_blank">Safe Space Provo</a><br>
                <strong>Description:</strong> 
                The Safe Space Counseling is a therapy center committed to providing a judgment-free environment where individuals 
                can address mental health concerns. They offer personalized therapy sessions in a soothing office setting and through 
                teletherapy, emphasizing accessibility and a safe space for clients to heal and grow without societal pressures.
              </p>
            </div>
        </div>

        <div class="localclinic">
          <img src="images/clinic_scs.jpeg">
          <p>
            <strong>Website:</strong> <a href="https://summitcounselingsolutions.com" target="_blank">Summit Counseling Solutions</a><br>
            <strong>Description:</strong> 
            Summit Counseling Solutions is a specialized treatment center dedicated to providing evidence-based solutions for 
            adolescents and families grappling with an array of mental health challenges, including suicidal ideation, 
            anxiety, depression, trauma, ADHD, behavioral disorders, and more. 
          </p>
        </div>

        <div class="localclinic">
          <img src="images/clinic_provo.jpeg">
          <p>
            <strong>Website:</strong> <a href="https://www.wasatch.org/provo-family-clinic" target="_blank">Provo Family Clinic</a><br>
            <strong>Description:</strong> 
            Wasatch Behavioral Health's Provo Family Clinic focuses on providing mental health services primarily for children 
            and families, also accommodating adults on occasion. Their tailored therapeutic services cater to trauma and mental 
            illness, addressing conditions like depression, anxiety, ADHD, PTSD, and behavioral issues, utilizing evidence-based 
            techniques. 
          </p>
        </div>
      </div>

      <h2>Online Therapy Service</h2>
      <p>
        <img src="images/help.jpeg">
        <strong>Website:</strong> <a href="https://www.betterhelp.com" target="_blank">BetterHelp</a><br>
        <strong>Description:</strong> BetterHelp offers convenient and accessible online therapy services for various mental 
        health concerns, including those related to social media usage.
      </p>
    </main>
    <%- include('footer') %>
</body>
</html>