<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Questions</title>
</head>
<body>
  <h1>Survey Questions</h1>
  <!-- no action yet. insert it. -->
  <form action="#" method="post">
      <!-- Age -->
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" min="0" max="99"><br><br>

      <!-- Gender -->
      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
          <option value="" selected disabled>Select an option</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
      </select><br><br>

      <label for="relationship_status">Relationship Status:</label>
      <select id="relationship_status" name="relationship_status">
          <option value="" selected disabled>Select an Option</option>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Divorced">Divorced</option>
          <option value="In a Relationship">In a Relationship</option>
      </select><br><br>


      <!-- Occupation Status -->
      <label for="occupation_status">Occupation Status:</label>
      <select id="occupation_status" name="occupation_status">
          <option value="" selected disabled>Select an option</option>
          <option value="School Student">School Student</option>
          <option value="University Student">University Student</option>
          <option value="Salaried Worker">Salaried Worker</option>
          <option value="Retired">Retired</option>
      </select><br><br>

      <!-- What type of organizations are you affiliated with? -->
      <label for="organization_affiliation">What type of organizations are you affiliated with?</label>
      <select id="organization_affiliation" name="organization_affiliation">
          <option value="" selected disabled>Select an option</option>
          <option value="1">University</option>
          <option value="2">Private</option>
          <option value="3">School</option>
          <option value="5">Company</option>
          <option value="4">N/A</option>
      </select><br><br>

      <!-- Do you use social media? -->
      <label for="social_media_user">Do you use social media?</label>
      <input type="radio" id="social_media_user_yes" name="social_media_user" value="Y">
      <label for="social_media_user">Yes</label>
      <input type="radio" id="social_media_user_no" name="social_media_user" value="N">
      <label for="use_social_media_no">No</label><br><br>

      <!-- What social media platforms do you commonly use? -->
      <label>What social media platforms do you commonly use?</label><br>
      <input type="checkbox" id="facebook" name="social_media_platforms" value="1">
      <label for="facebook">Facebook</label><br>
      <input type="checkbox" id="youtube" name="social_media_platforms" value="2">
      <label for="youtube">YouTube</label><br>
      <input type="checkbox" id="discord" name="social_media_platforms" value="3">
      <label for="discord">Discord</label><br>
      <input type="checkbox" id="reddit" name="social_media_platforms" value="4">
      <label for="reddit">Reddit</label><br>
      <input type="checkbox" id="twitter" name="social_media_platforms" value="5">
      <label for="twitter">Twitter</label><br>
      <input type="checkbox" id="instagram" name="social_media_platforms" value="6">
      <label for="instagram">Instagram</label><br>
      <input type="checkbox" id="tiktok" name="social_media_platforms" value="7">
      <label for="tiktok">TikTok</label><br>
      <input type="checkbox" id="pinterest" name="social_media_platforms" value="8">
      <label for="pinterest">Pinterest</label><br>
      <input type="checkbox" id="snapchat" name="social_media_platforms" value="9">
      <label for="snapchat">Snapchat</label><br><br>

      <!-- What is the average time you spend on social media every day? -->
      <label for="daily_social_media_time">What is the average time you spend on social media every day?</label>
      <select id="daily_social_media_time" name="daily_social_media_time">
          <option value="" selected disabled>Select an option</option>
          <option value="1-2">Between 1 and 2 hours</option>
          <option value="2-3">Between 2 and 3 hours</option>
          <option value="3-4">Between 3 and 4 hours</option>
          <option value="4-5">Between 4 and 5 hours</option>
          <option value="more-5">More than 5 hours</option>
      </select><br><br>

      <!-- How often do you find yourself using social media without a specific purpose? -->
      <label for="use_without_purpose">I often find myself using social media without a specific purpose.</label>
      <select id="use_without_purpose" name="use_without_purpose">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Social media distraction -->
      <label for="use_while_busy">I often get distracted by social media when I am busy doing something.</label>
      <select id="use_while_busy" name="use_while_busy">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Restlessness without social media -->
      <label for="restlessness_from_withdrawal">I feel restless if I haven’t used social media in a while.</label>
      <select id="restlessness_from_withdrawal" name="restlessness_from_withdrawal">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Easily distracted -->
      <label for="easily_distracted">I am easily distracted.</label>
      <select id="easily_distracted" name="easily_distracted">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Bothered by worries -->
      <label for="bothered_by_worries">I am frequently bothered by worries.</label>
      <select id="bothered_by_worries" name="bothered_by_worries">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Difficulty concentrating -->
      <label for="difficult_to_concentrate">I find it difficult to concentrate on things.</label>
      <select id="difficult_to_concentrate" name="difficult_to_concentrate">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Comparison to successful people -->
      <label for="compare_with_successful_people">I often compare myself to other successful people through the use of social media.</label>
      <select id="compare_with_successful_people" name="compare_with_successful_people">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Seeking validation -->
      <label for="seek_validation">I often look to seek validation from features of social media.</label>
      <select id="seek_validation" name="seek_validation">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Feelings of depression -->
      <label for="feelings_of_depression">I often feel depressed or down.</label>
      <select id="feelings_of_depression" name="feelings_of_depression">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Fluctuating interest in activities -->
      <label for="fluctuation_of_interest_in_activities">My interest in daily activities fluctuates frequently.</label>
      <select id="fluctuation_of_interest_in_activities" name="fluctuation_of_interest_in_activities">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <!-- Sleep issues -->
      <label for="sleep_issue_frequency">I often face issues regarding sleep.</label>
      <select id="sleep_issue_frequency" name="sleep_issue_frequency">
          <option value="" selected disabled>Select an option</option>
          <option value="1">Strongly Disagree</option>
          <option value="2">Disagree</option>
          <option value="3">Neutral</option>
          <option value="4">Agree</option>
          <option value="5">Strongly Agree</option>
      </select><br><br>

      <input type="submit" value="Submit">
    </form>
</body>
</html>
