<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
        <meta name="geo.placename" content="Brigham Young University">
        <meta name="geo.region" content="'US-UT">
        <link rel="stylesheet" href="/styles.css">
        <!--favicon not working-->
        <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
        <title>SMU & MH - Survey</title>
<style>
            /* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

</style>
</head>
<body>
    <%- include('navbar') %>
<div class="survey-intro">
    <h2 class="survey-welcome">Welcome to our Survey on Social Media and Mental Health!</h2>
    <p class="survey-info-main">
        Thank you for participating in this important survey conducted by the Social Media Usage & Mental Health Committee. Your input is invaluable as we strive to understand the relationship between social media use and mental well-being in our community.
    </p>
    <h3 class="survey-title">About the Survey:</h3>
    <p class="survey-info">
        This survey aims to explore various aspects of social media usage and its potential impacts on mental health. Your honest responses will help us gather crucial insights into the experiences and challenges individuals face in the digital age.
    </p>
    <h3 class="survey-title">Your Privacy Matters:</h3>
    <p class="survey-info">
        We want to assure you that your participation in this survey is entirely anonymous. Your responses are confidential and will be aggregated for statistical analysis only. No identifiable information will be collected, ensuring complete privacy and confidentiality. 
    </p>
    <h3 class="survey-title">Why Your Input Is Essential:</h3>
    <p class="survey-info">
        Your perspective is crucial in shaping our understanding of how social media affects mental health. By sharing your experiences and thoughts, you contribute to a greater understanding of these issues, ultimately helping us create informed strategies for healthier digital engagement.
    </p>
    <p class="survey-info-end">
        Thank you for taking the time to share your thoughts and experiences with us. Let's work together to create a healthier and more mindful online community! 
    </p>

    <button class="survey-show">Take the Survey</button>
</div>

<div class="survey-main">
        <main>

            <div id="customModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Survey submitted successfully!</p>
                    <p>Thank you for taking the time to participate in our Social Media and Mental Health survey. Your input is invaluable in understanding the complexities of our digital world and its impact on mental well-being.</p>
                </div>
            </div>

        <section class="survey-container">
        <!-- no action yet. insert it. -->
        <form action="/submitsurvey" method="post" class="survey-form">
            <!-- Age -->
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" min="0" max="99">

            <!-- Gender -->
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="" selected disabled>Select an option</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="Other">Other</option>
            </select>

            <label for="relationship_status">Relationship Status:</label>
            <select id="relationship_status" name="relationship_status">
                <option value="" selected disabled>Select an Option</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="In a Relationship">In a Relationship</option>
            </select>


            <!-- Occupation Status -->
            <label for="occupation_status">Occupation Status:</label>
            <select id="occupation_status" name="occupation_status">
                <option value="" selected disabled>Select an option</option>
                <option value="School Student">School Student</option>
                <option value="University Student">University Student</option>
                <option value="Salaried Worker">Salaried Worker</option>
                <option value="Retired">Retired</option>
            </select>

            <fieldset class="checkbox-grid">
                <!-- What type of organizations are you affiliated with? -->
                <label>What type of organizations are you affiliated with?</label>
                    <div class="checkbox-row">
                        <input type="checkbox" id="university" name="organization_affiliation" value="1">
                        <label for="university">University</label>

                        <input type="checkbox" id="private" name="organization_affiliation" value="2">
                        <label for="private">Private</label>

                        <input type="checkbox" id="school" name="organization_affiliation" value="4">
                        <label for="school">School</label>

                        <input type="checkbox" id="company" name="organization_affiliation" value="5">
                        <label for="company">Company</label>

                        <input type="checkbox" id="government" name="organization_affiliation" value="6">
                        <label for="government">Government</label>

                        <input type="checkbox" id="na" name="organization_affiliation" value="3">
                        <label for="na">N/A</label>
                        </div>
            </fieldset>

            <!-- Do you use social media? -->
            <div class="social-media-user">
                <label for="social_media_user">Do you use social media?</label>
                <div class="radio-options">
                <div class="radio-row">
                    <input type="radio" id="social_media_user_yes" name="social_media_user" value="Y">
                    <label class="yesno" for="social_media_user_yes">Yes</label>
                </div>
                <div class="radio-row">
                    <input type="radio" id="social_media_user_no" name="social_media_user" value="N">
                    <label class="yesno" for="social_media_user_no">No</label>
                </div>
                </div>
            </div>
    
    

            <fieldset class="checkbox-grid">
                <!-- What social media platforms do you commonly use? -->
                <label>What social media platforms do you commonly use?</label>
                    <div class="checkbox-row">
                        
                        <input type="checkbox" id="facebook" name="social_media_platforms" value="1">
                        <label for="facebook">Facebook</label>
                        
                        <input type="checkbox" id="twitter" name="social_media_platforms" value="2">
                        <label for="twitter">Twitter</label>

                        <input type="checkbox" id="instagram" name="social_media_platforms" value="3">
                        <label for="instagram">Instagram</label>
                        
                        <input type="checkbox" id="youtube" name="social_media_platforms" value="4">
                        <label for="youtube">YouTube</label>
                        
                        <input type="checkbox" id="discord" name="social_media_platforms" value="5">
                        <label for="discord">Discord</label>
                        
                        <input type="checkbox" id="reddit" name="social_media_platforms" value="6">
                        <label for="reddit">Reddit</label>
                        
                        <input type="checkbox" id="pinterest" name="social_media_platforms" value="7">
                        <label for="pinterest">Pinterest</label>
                        
                        <input type="checkbox" id="tiktok" name="social_media_platforms" value="8">
                        <label for="tiktok">TikTok</label>
                        
                        <input type="checkbox" id="snapchat" name="social_media_platforms" value="9">
                        <label for="snapchat">Snapchat</label>

                        <input type="checkbox" id="n/a" name="social_media_platforms" value="10">
                        <label for="n/a">N/A</label>
                    </div>
            </fieldset>

            <!-- What is the average time you spend on social media every day? -->
            <label for="daily_social_media_time">What is the average time you spend on social media every day?</label>
            <select id="daily_social_media_time" name="daily_social_media_time">
                <option value="" selected disabled>Select an option</option>
                <option value="Less than an Hour">"Less than an Hour"</option>
                <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
                <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
                <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
                <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
                <option value="More than 5 hours">More than 5 hours</option>
            </select>

            <!-- Q9 How often do you find yourself using social media without a specific purpose? -->
            <label for="use_without_purpose">I often find myself using social media without a specific purpose.</label>
            <select id="use_without_purpose" name="use_without_purpose">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Social media distraction Q10-->
            <label for="use_while_busy">I often get distracted by social media when I am busy doing something.</label>
            <select id="use_while_busy" name="use_while_busy">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Restlessness without social media Q11-->
            <label for="restlessness_from_withdrawal">I feel restless if I haven’t used social media in a while.</label>
            <select id="restlessness_from_withdrawal" name="restlessness_from_withdrawal">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Easily distracted Q12-->
            <label for="easily_distracted">I am easily distracted.</label>
            <select id="easily_distracted" name="easily_distracted">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Bothered by worries Q13-->
            <label for="bothered_by_worries">I am frequently bothered by worries.</label>
            <select id="bothered_by_worries" name="bothered_by_worries">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Difficulty concentrating Q14 -->
            <label for="difficult_to_concentrate">I find it difficult to concentrate on things.</label>
            <select id="difficult_to_concentrate" name="difficult_to_concentrate">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Comparison to successful people Q15-->
            <label for="compare_with_successful_people">I often compare myself to other successful people through the use of social media.</label>
            <select id="compare_with_successful_people" name="compare_with_successful_people">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- How do you feel about question above Q16 -->
            <label for="feel_about_comparisons">How do you feel about the comparisons you make with successful people on social media (as referenced in question 15)?</label>
            <select id="feel_about_comparisons" name="feel_about_comparisons">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Very Negative</option>
                <option value="2">Somewhat Negative</option>
                <option value="3">Neutral</option>
                <option value="4">Somewhat Positive</option>
                <option value="5">Very Positive</option>
            </select>

            <!-- Seeking validation Q17-->
            <label for="seek_validation">I often look to seek validation from features of social media.</label>
            <select id="seek_validation" name="seek_validation">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Feelings of depression Q18-->
            <label for="feelings_of_depression">I often feel depressed or down.</label>
            <select id="feelings_of_depression" name="feelings_of_depression">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Fluctuating interest in activities Q19-->
            <label for="fluctuation_of_interest_in_activities">My interest in daily activities fluctuates frequently.</label>
            <select id="fluctuation_of_interest_in_activities" name="fluctuation_of_interest_in_activities">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <!-- Sleep issues Q20-->
            <label for="sleep_issue_frequency">I often face issues regarding sleep.</label>
            <select id="sleep_issue_frequency" name="sleep_issue_frequency">
                <option value="" selected disabled>Select an option</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

            <input class="submit" type="submit" value="Submit">
            </form>
            <div id="error-message" style="color: red;"></div>

        </section>
        </main>
    </div>
    
    <div class="spacing"></div>
    <%- include('footer') %>
</body>
<script>
    // Get the modal
    var modal = document.getElementById("customModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    <% if (submitted) { %>
        // If 'submitted' is true, show the modal
        modal.style.display = "block";
    <% } %>

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
    document.getElementById("myForm").onsubmit = function() {
    var checkboxes = document.getElementsByName("options");
    var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

    if (!checkedOne) {
        document.getElementById("error-message").innerText = "Please check at least one option.";
        return false; // prevent form submission
    }
};

</script>

</html>
