/*General total page style */

:root {
    --primarygreen: #A3C9A8;
    --lightgreen: #BFD9C2;
    --darkergreen: #526554;
    --primaryblue: #AED9E0;
    --darkblue: #576D70;
    --darkgrey: #4D4D4D;
    --cream: #FEFCFA;
    --lightcream: #F6EBDD;
    --text: #000000;
    --gap: 6rem;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}
.flex-container {
    display: flex;
  }
.right-content {
    margin-left: auto; /* Moves this content to the right side */
    max-width: 50vw;
    max-height: 50vh;
}

.left-content {
    margin-right: auto; /* Moves this content to the right side */
    max-width: 50vw;
    max-height: 50vh;
}
main {
    flex-grow: 1;
    overflow-y: auto; /* For scrollable content */
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

@font-face {
    font-family: 'Lobster-Regular';
    src: url(/fonts/Lobster-Regular.ttf) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster-Regular', sans-serif;
    letter-spacing: 3px;
}

/*nav styles*/
nav {
    background-color: var(--lightcream);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul {
    margin: 0 auto;
    padding: 0;
    height: 80px;
    list-style-type: none;
    font-size: .75em;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
ul li a {
    display: block;
    padding: 14px;
    position: relative;
    text-decoration: none;
    color: var(--text);
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;

}

a.link:hover {
    color: var(--darkgrey);
    transform: translate(1px, 1px);
}
  
.separator {
    display: flex;
    align-items: center;
    border-left: 2px solid var(--darkergreen);
    width: 10px;
    height: 60px;
    margin: 0 0 0 10px;
}

a.navlogo {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

a.navlogo img {
    height: 70px;
    margin-right: 18px;
}

a.provo {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

}

a.provo img {
    height: 65px;
    margin-left: 18px;
}

.nav-toggle {
    display: none;
}

.signout-button {
    float: right;
    margin-left: auto;
    margin-right: 18px;
    cursor: pointer;
}

.signout-button a {
    border: 2px solid var(--darkergreen);
}

.signout-button a:hover {
    color: var(--darkgrey);
    transform: translate(1px, 1px);
}

/*header styles*/

h1 {
    display: none;
}

.main-top-display {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding:0;
    margin: 0;
    background-size: cover;
    background-position: center;
    height: fit-content;
}
video {
  width:100%;
}
/* Hide default controls */
video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

video::-webkit-media-controls-panel {
  display:none !important;
}

/* For Firefox */
video::-moz-media-controls {
  display:none !important;
}

.main-top {
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center -20vh;
}
.overlay {
  position: absolute;
  top: -20vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkgrey);
  opacity: 0.25;
  object-position: center -20vh;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkgrey);
  opacity: 0.25;
  z-index: -1;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  transform: translate(-50%, -50%);
  object-position: center -10vh;
}

/*hero styles */
  
.parallaxlanding {
    /* The image used */
    background-image: url("https://testbucket-eb-intex.s3.us-east-1.amazonaws.com/herodisplay.png");
  
    /* Full height */
    height: 50vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*who are we button*/
.about-us {
    position: relative;
    display: inline-block;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    border: 5px solid var(--cream);
    padding: 16px;
    background-color: var(--lightgreen);
    cursor: pointer;
    color: var(--text);
    letter-spacing: 1px;
    font-family: 'Lobster-Regular';
    
}

.button:hover {
    transform: translate(-49%, -49%);
    color: var(--darkgrey);
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

/*introduction to the webpage*/

.intro {
    padding: 2rem 12rem 2rem 12rem;
}

.intro p:first-of-type {
    margin-top: 0;
}

.intro p:last-of-type {
    margin-bottom: 0;
}

.intro p {
    line-height: 24px;
    font-weight: 200;
}

/*learn main page idk why I called it login
I think i was originally going to do the login there and then i changed my mind ahaha*/
.login-main {
    background-color: var(--primarygreen);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 6px 0;
  }
  
  .login-main p {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 0 50vh;
  }
  
  .login-main a {
    text-decoration: none;
    font-size: 30px;
    border: 5px solid var(--cream);
    padding: 16px;
    background-color: var(--lightgreen);
    cursor: pointer;
    color: var(--text);
    letter-spacing: 1px;
    font-family: 'Lobster-Regular';
    transition: all 0.3s ease;
  }
  
  .login-main a:hover {
    transform: translate(1px, 1px);
    color: var(--darkgrey);
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
                0 4px 8px 3px rgba(60, 64, 67, 0.149);
  }
  


/* Footer styles */
footer {
    background-color: var(--lightcream);
    color: var(--darkgrey);
    padding: 10px 0 20px 0;
    font-size: 0.8em;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footer-logo img {
    height: 60px;
    padding: 0;
    margin-right: 20px;
    margin-left: 15px;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-nav li {
    margin-right: 15px;
}

.footer-nav a {
    text-decoration: none;
    color: var(--darkgrey);
}

.footer-nav a:hover {
    color: var(--darkergreen);
}

.footer-info p {
    font-size: 10px;
    margin: 5px 0;
}

.footer-info p a {
    text-decoration: none;
    color: var(--darkgrey)
}

.footer-info p a:hover {
    text-decoration: underline;
    color: var(--darkergreen)
}

/*SURVEY PAGE*/
.survey-main {
  display: none;
}

.survey-intro {
  max-width: 800px;
  margin: 0 auto;
  padding: 3% 70px;
  border-radius: 8px;
}

.survey-welcome {
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

.survey-info-main,
.survey-info-end {
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
  font-size: 18px;
}

.survey-info-end {
  padding-top: 5%;
}

.survey-info {
  margin: 0;
  letter-spacing: 1px;
  font-size: 14px;
}

.survey-title {
  font-size: 24px;
  margin: 12px 0 4px 0;
}

.survey-show {
  display: block;
  margin: 40px auto;
  border: none;
  text-decoration: none;
  font-size: 30px;
  padding: 16px;
  background-color: var(--lightgreen);
  cursor: pointer;
  color: var(--text);
  letter-spacing: 1px;
  font-family: 'Lobster-Regular';
  transition: all 0.3s ease;
}

.survey-show:hover {
  transform: translate(1px, 1px));
  color: var(--darkgrey);
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
      0 4px 8px 3px rgba(60, 64, 67, 0.149);
}


.survey-container {
    display: flex;
    justify-content: center;
    padding-top: 50px; 
  }
  
  .survey-form {
    width: 600px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .survey-form label,
  .survey-form input,
  .survey-form select {
    margin-bottom: 10px;
    display: block;
  }
  
  .survey-form input[type="number"],
  .survey-form input[type="submit"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .survey-form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  
  .survey-form input[type="submit"] {
    background-color: var(--primarygreen);
    color: var(--text);
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    font-family: 'Lobster-Regular';
    font-size: 25px;
  }
  
  .survey-form input[type="submit"]:hover {
    background-color: var(--lightgreen);
    color: var(--darkgrey);
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
  }
  
  fieldset.checkbox-grid {
    border: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  .checkbox-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkbox-row input[type="checkbox"],
  .checkbox-row label {
    flex: 0 0 calc(20% - 5px);
  }
  
  .checkbox-row input[type="checkbox"] {
    margin: 0 10px 5px 0;
  }

  .spacing {
    height: 50px;
  }

.social-media-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 40px;
  }
  
  .radio-options {
    display: flex;
  }
  
  .radio-row {
    margin-right: 40px; 
  }
  
  .radio-row label {
    margin-bottom: 10px;
  }

  .radio-row input[type="radio"],
  .radio-row label {
    display: inline-block;
    vertical-align: middle;
  }
  
  .parallaxlearn {
    /* The image used */
    background-image: url("https://testbucket-eb-intex.s3.us-east-1.amazonaws.com/herodisplay.png");
  
    /* Full height */
    height: 50vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tableau {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tableauPlaceholder {
    width: 100%;
    text-align: center;
}

/* this is for my button on the admin page. that's really it */
.databutton {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; 
  font-size: 14px; 
  padding: 8px 16px; 
  text-decoration: none; 
  color: #fff; 
  background-color: #dff0d8; 
  border: 2px solid black; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

/* Hover effect */
.databutton:hover {
  background-color: #abb7a69c; 
  color: #fff;
}


/* The div with the instagram posts */
.instagram-div-home {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-grow: 1;
}

.content,
.instagram-posts-home {
  width: 50%; 
  box-sizing: border-box; 
  text-align: center;
}

.content {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 12%;

}


.instagram-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5%;
  }
  
  .instagram-posts {
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }


  /* for various errors across pages */
  .error {
      color: red;
      font-size: 14px;
    }
  .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  .success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
  }

  .blue {
    width: 100%;
    height: 60px;
    background-color: #576D70;
  }
  
@media screen and (max-width: 850px) {

nav {
    display: flex;
}

a.link {
    width: 40%;
    margin-left: auto;
    display: none;
    table-layout: fixed;
    transition: all 0.3s ease-in;
}

.nav-toggle-label:before {
    color: var(--darkgreen);
    content: "☰";
}

.nav-toggle:checked + a.link {
    display: table;
    margin-left: 0;
}

}

.parallaxabout {
    /* The image used */
    background-image: url("https://testbucket-eb-intex.s3.us-east-1.amazonaws.com/aboutbanner.jpg");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.parallaxabout h2 {
    font-size: 15vh;
    color: rgb(255, 255, 255); 
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
    padding: 50px 35vh 0;
}

.splitscreen{
    display: flex;
    justify-content: space-between;
    padding: 2rem 12rem 2rem 12rem;
    padding: 2rem 12rem;
  }

  .left-div {
    float: left;
    padding: rem 2rem 200rem 2rem 2rem;
    padding-right: 4rem;
    max-width: 50vw;
    max-height: 50vh;
  }
  
  .right-div {
    float: right;
    max-width: 50vw;
    max-height: 50vh;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
  }
  
  .full-divider {
    background-color: var(--primarygreen);
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
    
  .full-divider p {
    padding: 6rem 5rem 6rem 5rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.full-divider h2 {
    padding: 6rem 10rem 6rem 10rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}